extends ../layout

block layout-content
  div.campaigns
    div.header
      h1 My Campaigns
      a(href="/mass-dm/new") Create Campaign

    div.View
      ul.pills
        li(class=currentDMTab === 'all' ? 'current' : '')
          a(href="/mass-dm")
            span.material-icons circle
            .
              All
        li(class=currentDMTab === 'pending' ? 'current' : '')
          a(href="/mass-dm/pending")
            span.material-icons circle
            .
              Pending
        li(class=currentDMTab === 'active' ? 'current' : '')
          a(href="/mass-dm/active")
            span.material-icons circle
            .
              Active
        li(class=currentDMTab === 'completed' ? 'current' : '')
          a(href="/mass-dm/completed")
            span.material-icons circle
            .
              Completed

      div.View
        each campaign in campaigns
          div.campaign
            div.header
              div.title= campaign.title
              div= campaign.status
            div.message= campaign.message
            div.footer
              div= campaign.created_at
              a(href=`/mass-dm/${campaign.uuid}`) Details
